.initially-hidden {
  display: none;
}

.header {
  text-align: center;
  font-family: cursive;
  font-weight: 30;
  background-color: #B195D4;
  margin-top: 0;
  padding-top: 21px;
}

.pizza-info-toggle {
  display: none;
  cursor: pointer;
}

.pizza h4 {
  color: rgb(255, 0, 234);
  cursor: pointer;
  font-weight: bold;
}
body{
  
  color:white;
  background-color: #000;
}