.initially-hidden {
    display: none;
  }
  
  .header {
    text-align: center;
    font-family: cursive;
    font-weight: 400;
    background-color: #B195D4;
    margin-top: 10;
    padding-top: 20px;
  }
  
  .pizza-info-toggle {
    display: none;
    cursor: pointer;
  }
  
  .pizza h4 {
    color: blueviolet;
    cursor: pointer;
    font-weight: bold;
  }
  